texput.log
manual/manual_en.aux
manual/manual_en.log
manual/manual_en.out
manual/manual_en.pdf
manual/manual_en.toc
manual/manual_es.aux
manual/manual_es.log
manual/manual_es.out
manual/manual_es.pdf
manual/manual_es.toc
manual/manual_pt.aux
manual/manual_pt.log
manual/manual_pt.out
manual/manual_pt.pdf
manual/manual_pt.toc
manual/texput.log
